.comments-container {
  display: none;
}

.show {
  display: block;
}

.comments-list {
  height: 32px;
  width: 224px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(111, 209, 136);
}

.remove-comment {
  position: absolute;
  left: 35%;
  padding-top: 1px;
}